<!Doctype html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/site.css">
    <title>Victor Hugo</title>
</head>
<body>

    <h1>Portfólio Victor Hugo</h1>
    <hr>
    <br>
    <h2><strong>Passado</strong></h2>
    <div class="flex">
    <div class="texto">
    <p >2012: venceu campeonato de capoeira e terceiro no muay thay. <br>
            2013: Entrou no curso de inglês. <br>
            2014: Saiu do curso. <br>
            2015: Começou o ensino médio, entrou para o grêmio da escola, uma advertência subsequente.
            <br> 2016: Continuou no grêmio, começou a namorar e criou sua afinidade com química, que o levaria para seu futuro. Deu aula de muay thai para as crianças. Primeira viagem de avião para Santa Catarina, quase se afogou, aumento do receio de afogar.
            <br> 2017: Fim do ensino médio, passagem do poder do grêmio para as novas gerações, começou a jogar mais futebol e a frequentar a academia, vestibulares, passou na univ. São Judas para engenharia química.
            <br> 2018: Início da universidade, presença nos trotes, participação na banda, fim do namoro. Falta de tempo para continuar as lutas.
            <br> 2019: Apresentou um projeto de mostra na faculdade, quase depressão, leitura de diversos livros, volta por cima como um herói, escreveu musicas, produção da musica, Curso matinal de formação para cidadania, curso vespertino no senai de dev.
            </p>
    </div>        
    <img class="lutador" src="img/muay.png" title="Lutador de muay thai">
    </div>

    
</body>
</html>